Dev Platform & Containerization

Conclusion 04/09/20
- Qu'est-ce qu'un projet
  - méthodes agiles
  - diferents point de vus et interets de chaque personnes
  - la sécurité d'un projet

...

Architecture des microservices
  elasticité
  resilient
  bounded
  complete
  ..

Microservices indépendants


Callways law

Docker
  intégrer des microservices

Version Control
  Git Mercurial Subversion
  Gitflow

  Build Server
    Build automatic : créer une image au commit
      Travis CI
      Circle CI
      AWS Code Build
      Jenkins
      Github Actions <-
    Build Pipeline
      Source -> Continuous Integration -> Continuous delivery -> Delivrable
